{% extends "layout.html" %}
{% block title %}
    Home
{% endblock %}
{% block content %}
    <h1>Ensembl Metadata API Endpoint</h1>
    Enter a value in a search box below to get matching database names

    The table below is a visual aide for me but the idea is that the application returns the JSON formatted data constructed in the Homepage view

    <h2>Search</h2>

    <form action="{% url 'home' %}" method="get">
        <input name="org" type="text" placeholder="Search by organism name">
        <input name="dbtype" type="text" placeholder="Search by database type (e.g. cdna, funcgen, etc.)">
        <input name="rel" type="text" placeholder="Search by ensembl release version">
        <button name="search" value="search" type="submit" class="save btn btn-default">Search</button>
    </form>>

    <style>
    table {
        border-collapse: collapse;
        width: 100%;
    }

    td,th {
        border: 1px solid #dddddd;
        text-align: left;
        padding: 8px;
    }

    tr:nth-child(even) {
        background-color: #dddddd;
    }
    </style>


    <ul>
        <table>
        <tr>
            <th>Organism Name</th>
            <th>Database Type</th>
            <th>Ensembl Release</th>
            <th>Database Name</th>
        </tr>
        {% for result in object_list %}
            <tr>
                <td>{{ genome_database.genome_id.organism_id.name }}</td>
                <td>{{ genome_database.type }}</td>
                <td>{{ genome_database.genome_id.data_release_id.ensembl_release }}</td>
                <td>{{ genome_database.dbname }}</td>
            </tr>
        {% empty %}
        <br>No results to show.
        {% endfor %}
        </table>
    </ul>

{% endblock %}